fastapi
uvicorn
wikipedia
wikipedia-api
requests
faiss-cpu
langchain
langchain-community
langchain-huggingface
sentence-transformers
python-dotenv
pydantic
numpy
scipy
python-multipart
pyngrok
streamlit
python-telegram-bot
langdetect
